global-reset()
.shitcoin
  color: Blue

  .app-name
    padding: 20px
    text-align: center
  .coins
    padding: 20px

  .header-container, .coins-container
    width: 100%
    > div
      display: flex
      flex-direction: row
      justify-content: space-between

